.dark-mode {
    background: #181818;
    color: white;
}

.dark-mode a {
    color: #48cbdd;
}

.dark-mode a:visited {
    color: #be8bb0;
}

.dark-mode .search-wrapper {
    background: #181818;
}

.dark-mode .flip-random-button-wrapper {
    background: #181818;
}