<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>eMTee Showdown - Legal Information</title>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="/settings/dark-mode.css" />
    <script src="settings/load-settings.js" defer></script>
    <script type="application/javascript" defer>
        window.addEventListener('DOMContentLoaded', function() {
            document.getElementById("build-info").textContent = "This is eMTee Showdown, version {version}, built at " + new Date('{timestamp}').toLocaleString(navigator.language, { dateStyle: 'full', timeStyle: 'long' });});
    </script>
    <link
        rel="icon"
        type="image/png"
        sizes="64x64"
        href="emtee-showdown-icon.png"
    />
</head>
<body>
<div class="top-of-page">
    {#include navbar /}
</div>
<div style="margin: .5rem">
    <div style="margin-bottom: 50px; font-size:xx-large">eMTee Showdown legal information</div>
    <div style="margin-bottom: 50px">
    eMTee Showdown is provided as open source software under the Apache 2.0 license. For more details, please visit the projects <a href="https://github.com/eMTeeWare/emtee-showdown" target="_blank">GitHub repository</a>.
    </div>
    <div id="build-info" style="margin-bottom: 50px"></div>

    <div style="margin-bottom: 50px"><a href="index.html">Back to home.</a></div>

    <div style="margin-bottom: 50px">This service uses the following dependencies:</div>
    {#each dependency}
    <div style="margin-bottom: 30px" id="{it.name}">
        <p id="{it.name}-name" ><a href="{it.projectUrl}" target="_blank" id="{it.name}-url">{it.name}</a></p>
        <p id="{it.name}-maven">{it.groupId}.{it.artifactId} {it.version}, used under</p><p></p>
        {#for license in it.licenses}
            <p style="margin-left: 15px" id="{it.name}-licenses"><a href="{license.url}" target="_blank">{license.name}</a></p>
        {/for}
    </div>
    {/each}

</div>
</body>
</html>