<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>eMTee Selection</title>
    <link rel="stylesheet" href="css.css"/>
    <script type="application/javascript" src="javascript.js"></script>
</head>
<body>

{#each seasons}
<div id="{it.id}" class="season {#if it.selected}selected{/if}" onclick="select(this.id)">
    <p id="title-{it.id}" class="title">{it.show}</p>
    <p id="count-{it.id}">Staffel {it.number}<!-- von {it.totalSeasons}--></p>
    <p id="year-{it.id}">Erstausstrahlung: {it.yearOfFirstAiring}</p>
    <p id="episodes-{it.id}">{it.numberOfEpisodes} Episoden</p>
    <p id="lastseeb-{it.id}"><!-- letzte Episode gesehen am: {it.lastSeen}--></p>
</div>
{/each}


</body>
</html>