<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>eMTee Showdown - Seasons</title>
    <link rel="stylesheet" href="seasons.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="/settings/dark-mode.css" />
    <script type="application/javascript" src="seasons.js" defer></script>
    <script src="settings/load-settings.js" defer></script>
    <link
        rel="icon"
        type="image/png"
        sizes="64x64"
        href="emtee-showdown-icon.png"
    />
</head>
<body>
<div class="top-of-page">
    {#include navbar selected="seasons" /}
    <div class="search-wrapper">
        <label for="search">Search Seasons:</label>
        <input type="search" placeholder="Search" class="search" id="search"/>
        <div class="search-checkboxes">
            <div>
                <input type="checkbox" id="hideSelectedCheckbox"/>
                <label for="hideSelectedCheckbox">Hide Selected</label>
            </div>
            <div>
                <input type="checkbox" id="hideNotSelectedCheckbox"/>
                <label for="hideNotSelectedCheckbox">Hide Not Selected</label>
            </div>
        </div>
    </div>
</div>
<div class="seasons" id="seasons">
{#each seasons}
<div id="{it.id}" class="season {#if it.selected}selected{/if}" onclick="select(this.id)">
    <p id="title-{it.id}" class="title">{#if it.show == it.localizedTitle}<b>{it.show}</b>{#else}<b>{it.localizedTitle}</b> ({it.show}){/if}</p>
    <p id="info-{it.id}" class="info">Staffel {it.number}<!-- von {it.totalSeasons}-->, {it.numberOfEpisodes} Episoden, {it.yearOfFirstAiring}</p>
    <p id="lastseen-{it.id}"><!-- letzte Episode gesehen am: {it.lastSeen}--></p>
    <p id="summary-{it.id}" class="summary">{it.summary}</p>
</div>
{/each}
</div>
</body>
</html>