<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eMTee Showdown - Selection</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="/settings/dark-mode.css" />
    <script type="application/javascript" src="scripts.js"></script>
    <script src="settings/load-settings.js" defer></script>
    <link
        rel="icon"
        type="image/png"
        sizes="64x64"
        href="emtee-showdown-icon.png"
    />
</head>
<body>

{#each seasons}
<div class="scene">
    <div id="{it.id}{count}" class="card">
        <div class="card__face card__face--front">
            <button class="button button-left" onclick="flip(this.parentNode.parentNode.id, true)">✔</button>
            {count}
            <button class="button button-right" onclick="flip(this.parentNode.parentNode.id, false)">✘</button>
        </div>
        <div class="card__face card__face--back">
            <div class="card__face--back-text">
                <b>{it.show}</b>
                (Staffel {it.number}<!-- von {it.totalSeasons}-->)<br><br>Erstausstrahlung: {it.yearOfFirstAiring}<br> {it.numberOfEpisodes} Episoden<br>
                <!-- letzte Episode gesehen am: {it.lastSeen}-->
            </div>
        </div>
    </div>
</div>
{/each}


</body>
</html>