<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>eMTee Showdown - Selection</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="selection.css">
    <link rel="stylesheet" href="/settings/dark-mode.css" />
    <script type="application/javascript" src="selection.js" defer></script>
    <script src="settings/load-settings.js" defer></script>
    <link
        rel="icon"
        type="image/png"
        sizes="64x64"
        href="emtee-showdown-icon.png"
    />
</head>
<body>
<div class="top-of-page">
    {#include navbar selected="selection" /}
    <div class="flip-random-button-wrapper">
        <button id="flip-selected-button">✔ Select random</button>
        <button id="flip-discarded-button">✘ Discard random</button>
    </div>
</div>
<div class="selections" id="selections" style="margin-top: .5rem">
    {#each seasons}
    <div class="scene">
        <div id="{it.id}{it_count}" class="card">
            <div class="card__face card__face--front">
                <button class="button button-left" onclick="flip(this.parentNode.parentNode.id, true)">✔</button>
                {it_count}
                <button class="button button-right" onclick="flip(this.parentNode.parentNode.id, false)">✘</button>
            </div>
            <div class="card__face card__face--back">
                <div class="card__face--back-text">
                    <p>{#if it.show == it.localizedTitle}<b>{it.show}</b>{#else}<b>{it.localizedTitle}</b> ({it.show}){/if}</p>
                    <p>Staffel {it.number}<!-- von {it.totalSeasons}-->, {it.numberOfEpisodes} Episoden, {it.yearOfFirstAiring}</p>
                    <p><!-- letzte Episode gesehen am: {it.lastSeen}--></p>
                    <p id="summary-{it.id}" class="summary">{it.summary}</p>
                </div>
            </div>
        </div>
    </div>
    {/each}
</div>
</body>
</html>