<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>eMTee Showdown - Seasons</title>
    <link rel="stylesheet" href="seasons.css"/>
    <link rel="stylesheet" href="styles.css"/>
    <link rel="stylesheet" href="/settings/dark-mode.css" />
    <script type="application/javascript" src="seasons.js" defer></script>
    <script src="settings/load-settings.js" defer></script>
    <link
        rel="icon"
        type="image/png"
        sizes="64x64"
        href="emtee-showdown-icon.png"
    />
</head>
<body>
<div class="top-of-page">
    {#include navbar selected="update" /}
</div>
<div class="updated" id="updated" style="padding: 15px">
    {updateCount} seasons updated from Trakt.
</div>
</body>
</html>