body {
    margin: 0;
}

.top-of-page {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.selected {
    background-color: lightgreen;
}

.discarded {
    background-color: red;
}

.summary {
    line-height: 1em;
    display: block;
    height: auto;
    overflow: hidden;
    transition: all .5s ease;
}

.hide {
    display: none;
}

p {
    margin: 2px;
}